// Custom Icons
// Searchbar icon
.icon-search:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/search.svg) no-repeat;
  width: 32px;
  height: 32px;
  filter: invert(35%) sepia(93%) saturate(355%) hue-rotate(124deg) brightness(93%) contrast(88%);
}
// Button Icons
.icon-download:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/download.svg) no-repeat;
}
.icon-external:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/external.svg) no-repeat;
  transform: rotate(-90deg);
}

// About Icons
.icon-handshake:before {
  @extend .custom-icon;
  background: url(/assets/img/icons/handshake.svg) no-repeat;
}
.icon-briefcase:before {
  @extend .custom-icon;
  background: url(/assets/img/icons/briefcase.svg) no-repeat;
}
.icon-key:before {
  @extend .custom-icon;
  background: url(/assets/img/icons/key.svg) no-repeat;
}
.icon-newspaper:before {
  @extend .custom-icon;
  background: url(/assets/img/icons/newspaper.svg) no-repeat;
}
.icon-tools:before {
  @extend .custom-icon;
  background: url(/assets/img/icons/tools.svg) no-repeat;
}

// Principles Icons
.callout-icon {
  display: block;
  margin-bottom: 3em;
  width: 100%;
  float: none;
}
.icon-for-all:before {
  @extend .custom-icon;
  background: url(/assets/img/intia-case/intia-case-for-all.png) no-repeat;
  //TODO: Move this in default layout
  background-size: contain;
  width: 128px;
  height: 128px;
}
.icon-mobile:before {
  @extend .custom-icon;
  background: url(/assets/img/intia-case/intia-case-mobile.png) no-repeat;
  //TODO: Move this in default layout
  background-size: contain;
  width: 128px;
  height: 128px;
}
.icon-open:before {
  @extend .custom-icon;
  background: url(/assets/img/intia-case/intia-case-open.png) no-repeat;
  //TODO: Move this in default layout
  background-size: contain;
  width: 128px;
  height: 128px;
}
.icon-cost:before {
  @extend .custom-icon;
  background: url(/assets/img/intia-case/intia-case-cost.png) no-repeat;
  //TODO: Move this in default layout
  background-size: contain;
  width: 128px;
  height: 128px;
}
.icon-modular:before {
  @extend .custom-icon;
  background: url(/assets/img/intia-case/intia-case-modular.png) no-repeat;
  //TODO: Move this in default layout
  background-size: contain;
  width: 128px;
  height: 128px;
}
