// Font
@charset "utf-8";
$family-primary: "Verdana", sans-serif;
// Colors
//$primary: #d1e7d6 !default;
$primary: #ffffff !default;
$text: #000 !default;
$title-color: #000 !default;
//$primary-light: #e7f2ea;
//$primary-light: #ffffff;
$light: #e7f2ea;
$primary-dark: #1e7d73;
$dark: #09443e;

// Specific styles
@import "layout";
@import "helper";
@import "icons";
@import "print";

strong {
  color: #000;
}
small {
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  color: #000;
}
a.normal {
  color: #000;
  text-decoration: underline;
}
.highlighter h3 {
  padding-top: 0;
}
.column {
  display: block;
  padding: 1.2rem;
}

.column.is-5 .highlighter {
  margin-top: 0;
}
.highlighter img.is-rounded {
  padding: 0;
}

.hero.is-primary
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-primary strong {
  color: $dark;
  text-decoration: underline;
}

.anchor {
  display:block;
  padding-top:120px;
  margin-top:-120px;
}

.breadcrumb ul, .breadcrumb ol {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 0.95rem;
}
.green-version .breadcrumb li+li::before {
  color: #000;
  padding-bottom: 0.2rem;
}

.breadcrumb li:first-child a {
  color: #000;
  padding-top: 0.1rem;
}

img.is-round {
  border-radius: 100%;
  height: auto;
}

.green_bg {
  background-color: #e7f2ea;
}
//update table
.tb th, .tb td {
  padding-right: 2em;
}
.tb td:last-child {
  padding-right: 5px;
}

.column {
  display: block;
  padding: 2.2rem;
}

.card-content p {
  padding-left: 65px;
}