// Font
@charset "utf-8";
$family-primary: "Verdana", sans-serif;
// Colors
//$primary: #d1e7d6 !default;
$primary: #ffffff !default;
$text: #000 !default;
$title-color: #000 !default;
//$primary-light: #e7f2ea;
//$primary-light: #ffffff;
$light: #e7f2ea;
$primary-dark: #1e7d73;
$dark: #09443e;

// Specific styles
@import "layout";
@import "mobile";
@import "helper";
@import "icons";
@import "print";
@import "radar";

// 0.5 rem war zuviel
.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  margin-top: -0.4rem;
}

// war auf 2 rem aber dann werden die runden bilder alle agbeschnitten, bitte schauen wofür man das braucht.
.highlighter img {
  padding: 0rem;
}

// War auf "auto" dann war aber das bild des INTIA-Labors nicht hoch genug um die Card zu füllen
.highlighter .column img {
  height: 100%;
}

// Feedback Janina
// Mehr Abstand zwischen Lupe und Button
.navbar-search .icon {
  padding-left: 25px;
}
// Dropdown pfeile noch etwas zu groß
.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  width: 0.7rem;
  height: 0.7rem;
}
// Text soll vertikal zentriert sein (optisch nicht rechnerisch)
.navbar-item, .navbar-link, .navbar-dropdown {
  padding-top: 0.7em;
}

// Button soll rund sein
.accessibility-image .button {
  width: 2.5rem;
  height: 2.5rem;
}
// Zentrieren des Icons im runden button
#changeFontsize .icon{
  padding-top: 0.2rem;
}
// Scrollpfeil soll wie vorgabe sein (diese hat 48px)
.arrow-image {
  width: 48px;
}

//Kleiner Border um Element im Footer sichbar zu machen
.accessibility-image {
  border: 1px solid white;
  border-radius: 9999px;
}
// Put update arrow-up.svg in theme !!!!
//Kleiner Border um Element im Footer sichbar zu machen
.navbar-dropdown .navbar-item.button{
  border: 1px solid white;
}

// Platz zwischn hero und breadcrumb ist arg riesig (war 10rem)
.hero.is-medium .hero-body {
  padding-top: 5rem
}

// Im Kontaktformular muss die H1 auf H2 geändert werden
.contact h1 {
  @extend h2; //Temp lösung
}

// Breadcrumb color auf dunkeltürkis geändert
.breadcrumb li:first-child a {
  color: #09443E;
}
.green-version .breadcrumb a {
  color: #09443E;
}
.green-version .breadcrumb li+li::before {
  color: #09443E;
}

// Optisch bewegt sich das element mit 2px border
.navbar-dropdown, .navbar-item:focus, .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
  border-width: 1px;
}

// Titel in weiß da der block dunkel grün ist
.latest-story .slider-titel{
  color: white;
}

// Slider titel soll ans datum rücken
.slider-content h4 {
  padding-top: 0px;
}

// Teambilder etwas abstand zum namen
.image-team {
  margin-bottom: 10px;
}

//Contact form in intia-case
.contact-case .contact-box {
  flex-grow: 0;
  padding-right: 50px;
}
.contact-case .column {
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 0;
}
.contact-case .checkbox {
  margin-top: 1rem;
}

// Fix glossary entry in left-right layout. Instead of "a" check for button
.card-content a {
  margin-left: 0px;
}
.card-content .button {
  margin-left: 65px;
}