// Font
@charset "utf-8";
$family-primary: "Verdana", sans-serif;
// Colors
//$primary: #d1e7d6 !default;
$primary: #ffffff !default;
$text: #000 !default;
$title-color: #000 !default;
//$primary-light: #e7f2ea;
//$primary-light: #ffffff;
$light: #e7f2ea;
$primary-dark: #1e7d73;
$dark: #09443e;

// Specific styles
@import "layout";
@import "mobile";
@import "helper";
@import "icons";
@import "print";
@import "radar";

// 0.5 rem war zuviel
.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  margin-top: -0.4rem;
}

// war auf 2 rem aber dann werden die runden bilder alle agbeschnitten, bitte schauen wofür man das braucht.
.highlighter img {
  padding: 0rem;
}

// War auf "auto" dann war aber das bild des INTIA-Labors nicht hoch genug um die Card zu füllen
.highlighter .column img {
  height: 100%;
}